
@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 100;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-thin.woff2') format('woff2'), url('woff/iosevka-term-ss03-thin.woff') format('woff'), url('ttf/iosevka-term-ss03-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 100;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-thinitalic.woff2') format('woff2'), url('woff/iosevka-term-ss03-thinitalic.woff') format('woff'), url('ttf/iosevka-term-ss03-thinitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 100;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-thinoblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-thinoblique.woff') format('woff'), url('ttf/iosevka-term-ss03-thinoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 200;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-extralight.woff2') format('woff2'), url('woff/iosevka-term-ss03-extralight.woff') format('woff'), url('ttf/iosevka-term-ss03-extralight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 200;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-extralightitalic.woff2') format('woff2'), url('woff/iosevka-term-ss03-extralightitalic.woff') format('woff'), url('ttf/iosevka-term-ss03-extralightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 200;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-extralightoblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-extralightoblique.woff') format('woff'), url('ttf/iosevka-term-ss03-extralightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 300;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-light.woff2') format('woff2'), url('woff/iosevka-term-ss03-light.woff') format('woff'), url('ttf/iosevka-term-ss03-light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 300;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-lightitalic.woff2') format('woff2'), url('woff/iosevka-term-ss03-lightitalic.woff') format('woff'), url('ttf/iosevka-term-ss03-lightitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 300;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-lightoblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-lightoblique.woff') format('woff'), url('ttf/iosevka-term-ss03-lightoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 400;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-regular.woff2') format('woff2'), url('woff/iosevka-term-ss03-regular.woff') format('woff'), url('ttf/iosevka-term-ss03-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 400;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-italic.woff2') format('woff2'), url('woff/iosevka-term-ss03-italic.woff') format('woff'), url('ttf/iosevka-term-ss03-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 400;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-oblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-oblique.woff') format('woff'), url('ttf/iosevka-term-ss03-oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 500;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-medium.woff2') format('woff2'), url('woff/iosevka-term-ss03-medium.woff') format('woff'), url('ttf/iosevka-term-ss03-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 500;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-mediumitalic.woff2') format('woff2'), url('woff/iosevka-term-ss03-mediumitalic.woff') format('woff'), url('ttf/iosevka-term-ss03-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 500;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-mediumoblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-mediumoblique.woff') format('woff'), url('ttf/iosevka-term-ss03-mediumoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 600;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-semibold.woff2') format('woff2'), url('woff/iosevka-term-ss03-semibold.woff') format('woff'), url('ttf/iosevka-term-ss03-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 600;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-semibolditalic.woff2') format('woff2'), url('woff/iosevka-term-ss03-semibolditalic.woff') format('woff'), url('ttf/iosevka-term-ss03-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 600;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-semiboldoblique.woff') format('woff'), url('ttf/iosevka-term-ss03-semiboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 700;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-bold.woff2') format('woff2'), url('woff/iosevka-term-ss03-bold.woff') format('woff'), url('ttf/iosevka-term-ss03-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 700;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-bolditalic.woff2') format('woff2'), url('woff/iosevka-term-ss03-bolditalic.woff') format('woff'), url('ttf/iosevka-term-ss03-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 700;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-boldoblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-boldoblique.woff') format('woff'), url('ttf/iosevka-term-ss03-boldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 800;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-extrabold.woff2') format('woff2'), url('woff/iosevka-term-ss03-extrabold.woff') format('woff'), url('ttf/iosevka-term-ss03-extrabold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 800;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-extrabolditalic.woff2') format('woff2'), url('woff/iosevka-term-ss03-extrabolditalic.woff') format('woff'), url('ttf/iosevka-term-ss03-extrabolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 800;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-extraboldoblique.woff') format('woff'), url('ttf/iosevka-term-ss03-extraboldoblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 900;
	font-style: normal;
	src: url('woff2/iosevka-term-ss03-heavy.woff2') format('woff2'), url('woff/iosevka-term-ss03-heavy.woff') format('woff'), url('ttf/iosevka-term-ss03-heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 900;
	font-style: italic;
	src: url('woff2/iosevka-term-ss03-heavyitalic.woff2') format('woff2'), url('woff/iosevka-term-ss03-heavyitalic.woff') format('woff'), url('ttf/iosevka-term-ss03-heavyitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS03 Web';
	font-weight: 900;
	font-style: oblique;
	src: url('woff2/iosevka-term-ss03-heavyoblique.woff2') format('woff2'), url('woff/iosevka-term-ss03-heavyoblique.woff') format('woff'), url('ttf/iosevka-term-ss03-heavyoblique.ttf') format('truetype');
}
