configuration {
	font: "Inconsolata Bold 14";
	bw: 0;
	padding: 250;
	fixed-num-lines: false;
	terminal: "termite";
	ssh-command: "termite -e '{ssh-client} {host}' --class=ssh";
	sidebar-mode: true;
	separator-style: "dash";
	hide-scrollbar: true;
	fullscreen: true;
	theme: "/home/srsantos/.config/rofi/glue_pro_blue_santos.rasi";
	display-window: "";
	display-run: "";
	display-ssh: "";
	display-combi: "";
}
