configuration {
    modi:		     [window,run,ssh];
    font:                    "Inconsolata Bold 14";
    fixed-num-lines:         false;
    show-icons:              false;
    sidebar-mode:            true;
    scroll-method:           0;
    click-to-exit:           true;
    combi-hide-mode-prefix:  false;
    location:                0;
}

@theme "/home/srsantos/.config/rofi/glue_pro_blue_santos.rasi"

//@theme "/home/srsantos/.config/rofi/sidebar_santos.rasi"
