! Options that can not be used with fullscreen
! rofi.opacity: 65
! rofi.width: 400
! rofi.lines: 12
! rofi.columns: 1
! rofi.yoffset: -25
! rofi.xoffset:

! Options that are currently being used
!rofi.color-enabled: true
!rofi.color-normal: argb:0000000,#FFFFFF,argb:3a4E4E4E,#396EB4,#FFFFFF
!rofi.color-urgent: argb:0000000,#EF2929,argb:3a4E4E4E,#396EB4,#FFFFFF
!rofi.color-active: argb:0000000,#FFFFFF,argb:3a4E4E4E,#396EB4,#FFFFFF
!rofi.color-window: argb:E6222222,#396EB4
rofi.separator-style: dash
rofi.font: xos4 Terminus 14px
rofi.bc: #396EB4
rofi.bw: 0
rofi.loc: 0
rofi.padding: 250
rofi.fixed-num-lines: false
rofi.hmode: false
rofi.terminal: termite
rofi.ssh-command: termite -e '{ssh-client} {host}' --class=ssh
rofi.ssh-set-title: true
rofi.key: F12
rofi.rkey: mod1+F2
rofi.skey: mod1+F3
rofi.hide-scrollbar: true
rofi.sidebar-mode: true
rofi.fullscreen: true
rofi.switchers: window,run,ssh
rofi.display-ssh: 
rofi.display-run: 
rofi.display-window: 
rofi.display-combi: 

! Transparency alpha levels as hex
! 100% — FF
! 95% — F2
! 90% — E6
! 85% — D9
! 80% — CC
! 75% — BF
! 70% — B3
! 65% — A6
! 60% — 99
! 55% — 8C
! 50% — 80
! 45% — 73
! 40% — 66
! 35% — 59
! 30% — 4D
! 25% — 40
! 20% — 33
! 15% — 26
! 10% — 1A
! 5% — 0D
! 0% — 00
