# Start gnome-keyring-daemon
if [ -n "$DESKTOP_SESSION" ]; then
    eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets)
    export SSH_AUTH_SOCK
fi

# Start the rxvt daemon in the background
/usr/bin/urxvtd -q -f -o

# Blank the screen after 10 mins of inactivity
/usr/bin/xset dpms 0 0 600

# Increase the repeat rate of the keyboard
/usr/bin/xset r rate 400 44

# Turn off cap locks
/usr/bin/setxkbmap -option caps:none

# Enable killing X via key combo
/usr/bin/setxkbmap -option terminate:ctrl_alt_bksp

# Set auto-suspend after 30 mins of inactivity
/usr/bin/xautolock -time 30 -locker "systemctl suspend" -detectsleep &

# Set screenlock for all desktops
/usr/bin/xss-lock -- /usr/bin/i3lock-fancy -f Pragmatica\ Condensed\,\ Bold -t "Hello Scott, waiting for your fingerprint..." &
